/* header */
nav {
    background-color: rgb(52, 54, 54);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    font-weight: bold;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    cursor: pointer;
    color: #fabd62;
}

/* main */

main {
    margin-top: 75px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: gray;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 20px;
}